body {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    color: #ffffff;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
    background-image: url("https://github.com/matheuxsx3/narutinho/blob/main/assets/background/naruto-digital-art-black-background-amoled-3840x2160-5056.png?raw=true");
    background-repeat:no-repeat;
    background-size: cover;
    width: 100%;
       
}

nav ul li {
    display: inline;
}
nav button{
    color: black;
    background-color:black;
    
}
