<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Home</title>
    <link rel="shortcut icon" href="assets/ico.ico" type="image/x-icon">

</head>
<!-- para comentar algo, selecione a linha desejada e use: cntrl + : (dois pontos) -->

<body>
    <nav>
        <ul>
            <li><a href="index.html">Home</a>
            </li>
            <li> <a href="personagens.html">Personagens</a></li>
            <li>
                <a href="lutas.html">Lutas</a></li>
        </ul>
    </nav>
    <header>

        <h1>Guia completo de Naruto</h1>
        <h2>Aqui você fica por dentro de tudo sobre o universo de Naruto</h2>
        <h3>Por: <a href="https://www.instagram.com/matheuxsx3">Matheus Pereira</a></h3>

        <ul>
            <li>
                <h4>Contextualizando</h4>
                <p>
                    <i> "Naruto” </i> é uma série de mangá japonesa escrita e ilustrada por Masashi Kishimoto.
                    A história é contada em
                    duas partes: a primeira é ambientada nos anos pré-adolescentes de Naruto (volumes 1-27),
                    e a segunda em sua
                    adolescência (volumes 28-72).
                    A série é baseada em dois mangás de Kishimoto: Karakuri (1995) e Naruto
                    (1997). Naruto foi serializado na revista de mangá shōnen da Shueisha, Weekly Shōnen Jump, de
                    setembro
                    de
                    1999 a novembro de 2014.
                </p>

                <figure>

                    <img width="200px" height="150px" src="assets\narutoClassico.jpeg" alt="imagem do naruto classico">
                    <img width="250px" height="150px" src="assets/narutoShippuden.jpeg"
                        alt="imagem do naruto narutoShippuden">
                </figure>
                <p>
                    A história segue Naruto Uzumaki, um jovem ninja que busca reconhecimento de seus pares e sonha em se
                    tornar
                    o Hokage, o líder de sua aldeia. A trama da série é contada em vários períodos diferentes,
                    conhecidos
                    como
                    Parte I, Parte II, o Período em Branco, Nova Era: Parte I e Nova Era: Parte II.
                </p>
            </li>
            <li>
                <h4>Confira a história completa aqui em um vídeo do youtube:</h4>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/pnRb50KSOuo?si=zc6rUXmnldGRt5UM"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </li>
        </ul>

    </header>

</body>

</html>