<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lutas</title>
    <link rel="shortcut icon" href="assets/ico.ico" type="image/x-icon">
</head>

<body>
    <nav>
        <ul>

            <li><a href="index.html">Home</a>
            </li>
            <li> <a href="personagens.html">Personagens</a></li>
            <li>
                <a href="lutas.html">Lutas</a>
            </li>
        </ul>
    </nav>
    <h3>Por: <a href="https://www.instagram.com/matheuxsx3">Matheus Pereira</a></h3>
    <h1>As lutas mais populares da série incluem:</h1>
    <ol>
        <li>
            <h2>Naruto vs. Pain</h2>
            Esta luta ocorre quando Pain, o líder da Akatsuki, ataca Konohagakure para encontrar Naruto Uzumaki, o
            hospedeiro do Nove-Caudas. A luta é intensa e Naruto, em sua forma Sennin, consegue enfrentar Pain. No
            entanto, quando o modo Sennin de Naruto atinge seu limite, Pain consegue imobilizá-lo. A luta termina quando
            Naruto consegue convencer Nagato, o verdadeiro Pain, a acreditar em sua filosofia de paz. <br><br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/vl1Qd4kMlao?si=Y26YO-APs_pXxA43"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <br><br>
        </li>
        <li>
            <h2>Rock Lee vs. Gaara</h2>
            Esta luta ocorre durante os Exames Chunin. Rock Lee desafia Gaara, um ninja que manipula areia para se
            proteger. Inicialmente, parece que o taijutsu de Lee é inútil contra a defesa de areia de Gaara. No entanto,
            quando Lee remove seus pesos de perna e abre os Portões Internos, ele consegue superar a velocidade da areia
            e atacar Gaara. Apesar disso, Gaara acaba vencendo a luta. <br><br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ihgWUo6tvJQ?si=5t5x3Gp-DdYiPShM"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </li>
        <li>
            <h2>Naruto vs. Sasuke(luta final) </h2>
            Esta é a batalha final em Naruto e ocorre no Vale do Fim. Sasuke pretende matar os cinco Kage e dominar o
            mundo, e Naruto tenta impedi-lo. A luta é intensa e ambos os ninjas usam suas técnicas mais poderosas. No
            final, Naruto consegue convencer Sasuke a abandonar seu plano.
            <br><br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/2DEVPFmYk2s?si=jTyVSUd2RgL2T2sc"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <br><br>

        </li>
        <li>
            <h2>Sakura Haruno e Chiyo vs Sasori</h2>
            Sakura e Chiyo lutam contra Sasori, um mestre marionetista da Akatsuki. Sasori se transforma em uma
            marionete humana para lutar contra elas. Apesar das dificuldades, Sakura e Chiyo conseguem derrotar Sasori.
            <br><br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KltDOCrbnk4?si=NTXNcPiE3iImySgr"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>

        </li>
        <li>
            <h2>Kakashi Hatake vs Obito Uchiha</h2>
            Esta luta ocorre na dimensão Kamui. Kakashi e Obito se enfrentam em uma batalha intensa que envolve tanto
            genjutsu quanto taijutsu. No final da luta, Kakashi consegue perfurar o coração de Obito com um kunai
            infundido com relâmpago. <br><br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/3sw8TEYwfTc?si=wLLwR4S-qUVnmtke"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </li>
    </ol>

</body>

</html>